* {
  margin: 0;
  padding: 0;
}

header {
  font-family: cursive;
  background-color: purple;
  color: yellow;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}
nav {
  background-color: rgb(10, 10, 10);
}

/* Q - how can i change text color of link
#nav {
  color: white;
} */
main {
  background-color: papayawhip;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: brown;

  height: 70px;
  width: 200px;
  margin: 6px;
  padding: 4px;
  border: 2px solid black;
  /* look at the border it got curved; */
  border-radius: 20px;
}

#trbl {
  margin: 2px 4px 6px 8px;
  /* margin is updated from TOP RIGHT BOTTOM LEFT  */
  background-color: aqua;
  height: 40px;
  width: 350px;
  text-align: right;
  border: 3px dashed purple;
}

#tl {
  margin: 5px 30px;
  /* 5px margin set on top - bottom  and 10px on left-right */
  background-color: aquamarine;
  border: 1px solid;
}

/* these two are main thing to use when it comes to box within box */
.box {
  border: 3px solid rgb(15, 230, 33);
  background-color: black;
  color: aliceblue;
  /* learn and play how this formate of margin setting works */
  margin: 5px 1px 40px 20px;
  height: 160px;
  width: 400px;
}
.cbox {
  border: 2px solid rgb(235, 109, 109);
  /* margin: 10px 50px; */
  width: 100%;
  height: 110px;
  padding: 8px;
  box-sizing: border-box;
  /* contain box and border box are two main box  sizing properties  */
}

/* body {
  background-image: url('https://stackblitz.com/files/js-2yrgif/github/abhi-2107/playinghtmlcss/main/canthurtme.png');
} */
